.item {
  display: flex;
  align-items: baseline;
}
.discribe {
  color: #fff;
  font-size: 18px;
}
.title {
  color: #fff;
  margin-right: 30px;
}
.button {
  margin-left: 20px;
  width: 90px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
}
/* .button {
  margin-left: 20px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
} */
